<p>Dear {{model.ContactName}},</p>

<p>
A Fire Occupancy Inspection was performed on your business/building located at {{model.HouseNumber}} {{model.StreetName}} {{model.StreetType}} {{model.PostDirection}} ({{model.OccupancyName}}) on {{model.FormattedActualDate}}.  The results of this inspection are attached to this email.
</p>

<p>
If you have any questions or concerns about this inspection please either send your email reply to fireinspections@cityoflacrosse.org or call (608) 789-7260 (Monday thru Friday, 8:30AM to 5:00PM).
</p>

<p>
Sincerely, <br>
La Crosse Fire Department <br>
Community Risk Management
</p>