 <h1>Referred to Fire Prevention</h1>

 <table>
    <tbody>

        <tr>
            <td align="right"><b>Reason for Referral:</b></td>
            <td>{{model.ReasonForFirePreventionReferral}}</td>
        </tr>

        <tr>
            <td align="right"><b>Occupancy Number:</b></td>
            <td>{{model.OccupancyNumber}}</td>
        </tr>

        <tr>
            <td align="right"><b>Occupancy Name:</b></td>
            <td>{{model.OccupancyName}}</td>
        </tr>

        <tr>
            <td align="right"><b>Inspection Number:</b></td>
            <td>{{model.InspectionNumber}}</td>
        </tr>

        <tr>
            <td align="right"><b>Inspection Performed By:</b></td>
            <td>{{model.InspectionPerformedBy}}</td>
        </tr>

        <tr>
            <td align="right"><b>Parcel Number:</b></td>
            <td>{{model.ParcelNumber}}</td>
        </tr>

        <tr>
            <td align="right"><b>Main Address:</b></td>
            <td>{{model.HouseNumber}} {{model.StreetName}} {{model.StreetType}} {{model.PostDirection}}</td>
        </tr>
    </tbody>
 </table>