<h1>New CSS Permit Received</h1>

<table>
    <tbody>

        <tr>
            <td align="right">
              <b>Permit Type</b></td>
            <td>{{model.PermitType}}</td>
        </tr>

        <tr>
            <td align="right">
              <b>Permit Work Class</b>
            </td>
            <td>{{model.PermitWorkClass}}</td>
        </tr>

        <tr>
            <td align="right">
              <b>Permit Number</b>
            </td>
            <td>{{model.PermitNumber}}</td>
        </tr>

        <tr>
            <td align="right">
              <b>Permit Description</b>
            </td>
            <td>{{model.PermitDescription}}</td>
        </tr>

        <tr>
            <td align="right">
              <b>Contractor</b>
            </td>
            <td>{{model.ContractorName}}</td>
        </tr>

        <tr>
            <td align="right">
              <b>Address</b>
            </td>
            <td>{{model.Address}}</td>
        </tr>

        <tr>
            <td align="right">
              <b>Parcel Number</b>
            </td>
            <td>{{model.ParcelNumber}}</td>
        </tr>

    </tbody>
</table>